#texto{
    color: red;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

#button{
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 30px;
}